.home-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    width: 100%;
    &__card {
        background-image: url('../../../assets/home-background.png');
        background-size: cover;
        width: 50rem;
        height: 30rem;
        border-radius: 1rem;
    }
}